.box-wrapper {
    @include tablet {
        width: 600px;
    }
}

.header {
    .header-wrapper {
        @include tablet {
            flex-wrap: nowrap;
        }

        .header-list {
            @include tablet {
                visibility: hidden;
            }
        }
    }
}

.main {
    .animal-online-wrapper {
        .animal-online-contant {
            h2 {
                @include tablet {
                    font-size: 64px;
                }
            }
        }

        .slider-social {
            @include tablet {
                width: 620px;
                flex-wrap: nowrap;
            }
        }
    }
}


.pay-feed__description {
    @include tablet {
        flex-direction: column;
        align-items: center;

        img {
            @include tablet{
                transform: rotate(90deg);
            margin: 30px 0;
            }
        }
    }
}

.how-it-works__description {
    .description-wrapper {
        @include tablet {
            flex-direction: column;
            align-items: center;

            .column-description {
                @include tablet{
                    width: 45%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}